Check after one week
=====================

for some reason - it pings every 30 seconds... too much

Fantastic scatter: as np histogram2d
http://stackoverflow.com/questions/2369492/generate-a-heatmap-in-matplotlib-using-a-scatter-data-set

and hexplot, sphviewer



Easy example:
http://stackoverflow.com/questions/33282368/plotting-a-2d-heatmap-with-matplotlib

Pcolor from plt:
http://stackoverflow.com/questions/14391959/heatmap-in-matplotlib-with-pcolor

In [10]:
from os.path import expanduser   #home dir
import mysql.connector
import datetime
import numpy as np
import pandas as pd

today = datetime.datetime.now()
realweek = today - datetime.timedelta(hours=168)

dbase='test'  ## TEST dbase feat
table='db'
home = expanduser("~")
print('home expand done, pings done')
table='ping8'
print( table ,'table.============================ preparing read from mysql')
with open(home+'/.'+table+'.mysql', 'r') as content:
    allf = content.read().split('\n')
print(allf[0])
config = {
  'user': allf[1],  'password': allf[2],  'host': allf[0],
  'database': dbase,  'raise_on_warnings': True,
}
cnx = mysql.connector.connect(**config)
cursor = cnx.cursor()
query =("SELECT * FROM "+table+" WHERE t > '"+str(realweek)+"' ORDER BY t DESC")
print(query)
cursor.execute(query)
listp=np.array( list([i for i in cursor]) )
dfp=pd.DataFrame( listp, columns=cursor.column_names )
print(dfp)

home expand done, pings done
ping8 table.============================ preparing read from mysql
localhost
SELECT * FROM ping8 WHERE t > '2017-03-21 22:19:16.923618' ORDER BY t DESC
                         t  a  b  c   d  e  f  g  h
0      2017-03-28 22:19:14  0  1  1   0  0  0  1  0
1      2017-03-28 22:18:54  0  1  1   0  0  0  1  0
2      2017-03-28 22:18:33  0  1  1   0  0  0  1  0
3      2017-03-28 22:18:13  0  1  1   0  0  0  1  0
4      2017-03-28 22:17:53  0  1  1   0  0  0  1  0
5      2017-03-28 22:17:33  0  1  1   0  0  0  1  0
6      2017-03-28 22:17:12  0  1  1   0  0  0  1  0
7      2017-03-28 22:16:52  0  1  1   0  0  0  1  0
8      2017-03-28 22:16:33  0  1  1   0  0  0  1  0
9      2017-03-28 22:16:11  0  1  1   0  0  0  1  0
10     2017-03-28 22:15:51  0  1  1   0  0  0  1  0
11     2017-03-28 22:15:31  0  1  1   0  0  0  1  0
12     2017-03-28 22:15:21 -3 -3 -3  99 -3 -3 -3 -3
13     2017-03-28 22:15:11  0  1  1   0  0  0  1  0
14     2017-03-28 22:14:50  0  1  1   0  0  0  1  0
15     2017-03-28 22:14:30  0  0  0   0  0  0  0  0
16     2017-03-28 22:14:10  0  0  0   0  0  0  0  0
17     2017-03-28 22:13:49  0  0  0   0  0  0  0  0
18     2017-03-28 22:13:29  0  0  0   0  0  0  0  0
19     2017-03-28 22:13:09  0  0  0   0  0  0  0  0
20     2017-03-28 22:12:49  0  0  0   0  0  0  0  0
21     2017-03-28 22:12:28  0  0  0   0  0  0  0  0
22     2017-03-28 22:12:08  0  0  0   0  0  0  0  0
23     2017-03-28 22:11:48  0  0  0   0  0  0  0  0
24     2017-03-28 22:11:28  0  0  0   0  0  0  0  0
25     2017-03-28 22:11:07  0  0  0   0  0  0  0  0
26     2017-03-28 22:10:47  0  0  0   0  0  0  0  0
27     2017-03-28 22:10:27  0  0  0   0  0  0  0  0
28     2017-03-28 22:10:06  0  1  1   0  0  0  1  0
29     2017-03-28 22:09:46  0  1  1   0  0  0  1  0
...                    ... .. .. ..  .. .. .. .. ..
28974  2017-03-21 22:29:12  0  1  1   0  0  0  1  0
28975  2017-03-21 22:28:52  0  1  1   0  0  0  1  0
28976  2017-03-21 22:28:31  0  1  1   0  0  0  1  0
28977  2017-03-21 22:28:11  0  1  1   0  0  0  1  0
28978  2017-03-21 22:27:51  0  1  1   0  0  0  1  0
28979  2017-03-21 22:27:30  0  1  1   0  0  0  1  0
28980  2017-03-21 22:27:10  0  1  1   0  0  0  1  0
28981  2017-03-21 22:26:50  0  1  1   0  0  0  1  0
28982  2017-03-21 22:26:30  0  1  1   0  0  0  1  0
28983  2017-03-21 22:26:09  0  1  1   0  0  0  1  0
28984  2017-03-21 22:25:49  0  1  1   0  0  0  1  0
28985  2017-03-21 22:25:29  0  1  1   0  0  0  1  0
28986  2017-03-21 22:25:08  0  1  1   0  0  0  1  0
28987  2017-03-21 22:24:48  0  1  1   0  0  0  1  0
28988  2017-03-21 22:24:28  0  1  1   0  0  0  1  0
28989  2017-03-21 22:24:08  0  1  1   0  0  0  1  0
28990  2017-03-21 22:23:47  0  1  1   0  0  0  1  0
28991  2017-03-21 22:23:27  0  1  1   0  0  0  1  0
28992  2017-03-21 22:23:07  0  1  1   0  0  0  1  0
28993  2017-03-21 22:22:46  0  1  1   0  0  0  1  0
28994  2017-03-21 22:22:26  0  1  1   0  0  0  1  0
28995  2017-03-21 22:22:06  0  1  1   0  0  0  1  0
28996  2017-03-21 22:21:45  0  1  1   0  0  0  1  0
28997  2017-03-21 22:21:25  0  1  1   0  0  0  1  0
28998  2017-03-21 22:21:05  0  1  1   0  0  0  1  0
28999  2017-03-21 22:20:45  0  1  1   0  0  0  1  0
29000  2017-03-21 22:20:24  0  1  1   0  0  0  1  0
29001  2017-03-21 22:20:04  0  1  1   0  0  0  1  0
29002  2017-03-21 22:19:44  0  1  1   0  0  0  1  0
29003  2017-03-21 22:19:23  0  1  1   0  0  0  1  0

[29004 rows x 9 columns]