In [24]:
import pandas as pd
df = pd.DataFrame([[1,2,3], [11,12,13], [321,422,533]], columns=['a', 'b', 'c'])
df

     a    b    c
0    1    2    3
1   11   12   13
2  321  422  533

In [41]:
print( df, '\n-----\n' )
print( 'value in col 0 row 1=', int(df.iloc[:, [0]].ix[1] )  )
print( 'value in col 1 row 1=', int(df.iloc[:, [1]].ix[1] )  )
print( 'value in col 2 row 0=', int(df.iloc[:, [2]].ix[0] )  )
print( 'column 2 with all =\n', df.iloc[:, [2]] )

     a    b    c
0    1    2    3
1   11   12   13
2  321  422  533
-----

value in col 0 row 1= 11
value in col 1 row 1= 12
value in col 2 row 0= 3
column 2 with all =
      c
0    3
1   13
2  533

In [65]:
licol=df['c'].tolist()
print( licol )
lir=df[1:2].values.tolist()
print( lir )
lirow=df.values.tolist() 
print( lirow )
#df.iloc[:, [1]].ix[1]

[3, 13, 533]
[[11, 12, 13]]
[[1, 2, 3], [11, 12, 13], [321, 422, 533]]