In [172]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.arange(6*3).reshape(6,3)*1.01)
df.columns=['a','b','c']
df[['b','c','a']][0:1]

      b     c    a
0  1.01  2.02  0.0

In [222]:
df['newa']=df.a.gt(6).mul(df.a).rolling(2,min_periods=1).sum()
df[1:3]

      a     b     c  newa
1  3.03  4.04  5.05  0.00
2  6.06  7.07  8.08  6.06

In [226]:
df.a.idxmax()    
#df -df.max()-df.min()

5

In [177]:
df[['a','newa']].describe()

               a       newa
count   6.000000   6.000000
mean    7.575000  11.615000
std     5.668611  11.404506
min     0.000000   0.000000
25%     3.787500   1.515000
50%     7.575000  10.605000
75%    11.362500  19.695000
max    15.150000  27.270000

In [217]:
def fuf(dd,a):
    return a+dd/dd.max()
df.query('a>0').assign(nnew=lambda df: df.b/df.a).pipe( fuf, 0.0001).assign(b=lambda df:df.a*3)

        a       b         c      newa      nnew
1  0.2001  0.6003  0.294218  0.000100  1.000100
2  0.4001  1.2003  0.470688  0.222322  0.875100
3  0.6001  1.8003  0.647159  0.555656  0.833433
4  0.8001  2.4003  0.823629  0.777878  0.812600
5  1.0001  3.0003  1.000100  1.000100  0.800100